* {
    background-color: rgb(255, 196, 0);
}

.title-container {
    color: white;
}

hr {
    border-color: rgb(114, 114, 114);
}

.title-container h1 {
    margin: 10px 0px 10px 0px;
    font-size: 140px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.title-container h1 span {
    color: rgb(0, 0, 0);
}

.title-container hr {
    margin: 5px 0px 5px 0px;
}

@media only screen and (max-width: 580px) {
    .title-container h1 {
        font-size: 80px;
        font-weight: 500;
    }
}