.title-container {
    color: white;
}

.title-container h1 {
    margin: 10px 0px 10px 0px;
    font-size: 140px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.title-container h1 span {
    color: rgb(255, 208, 0);
}

.title-container hr {
    margin: 5px 0px 5px 0px;
}