.menu-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-container ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-container ul li {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}

.menu-container ul li a:hover {
    color: rgb(255, 208, 0);
    text-decoration: none;
}   