<div class="big-card-container">
    <div class="image">
        <img src="https://okdiario.com/img/2018/11/28/codigo-html.jpg" alt="" srcset="">
    </div>
    <div class="title">
        <h1><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h1>
    </div>
    <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo repudiandae, aliquid vitae obcaecati dolores ut doloremque ullam temporibus repellendus voluptatibus tenetur odio tempora totam harum dicta voluptatem veniam aspernatur eaque?</p>
    </div>
</div>
